<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="universidad">
            <h2><span jhiTranslate="testApp.universidad.detail.title">Universidad</span> {{ universidad.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testApp.universidad.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ universidad.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="testApp.universidad.direccion">Direccion</span></dt>
                <dd>
                    <span>{{ universidad.direccion }}</span>
                </dd>
                <dt><span jhiTranslate="testApp.universidad.autor">Autor</span></dt>
                <dd>
                    <span *ngFor="let autor of universidad.autors; let last = last">
                        <a [routerLink]="['/autor', autor?.id, 'view']">{{ autor.numero }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="testApp.universidad.ciudad">Ciudad</span></dt>
                <dd>
                    <div *ngIf="universidad.ciudad">
                        <a [routerLink]="['/ciudad', universidad.ciudad?.id, 'view']">{{ universidad.ciudad?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/universidad', universidad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
